# Folders #
.idea/*
out/*

# Files #
*.class
*.iml
*.DS_Store
*.jar
src/main/resources/kodeverk/K_NAVN_1.csv
src/main/resources/kodeverk/K_NAVN_2.csv
src/main/resources/kodeverk/K_NAVN_3.csv
src/main/resources/sqlFiles/inserts.sql